.jumbotron{
    background-color:#454545;
}

h1{
    color: #555B6E;
    font-size: 28px;
    font-weight: 500;
}
h2{
    color:#F1FFFA;
    font-size: 38px;
    font-weight: 700;
}
h3{
    color:  #555B6E;
    font-size: 28px;
    font-weight: 500;

}
.btn{
    background-color: lightgray;
    
}

.btn-light{
    float:  right;
    margin: 0 40px 40px 0;
    
}
.footer{
    background-color: #555B6E;
}


th{
    background-color: #93B7BE;
    font-weight: 700;
}

body{
    background-color:  #F1FFFA;
}
@media screen and (max-width:640px){
.panel-body{
    width: 100%

}
}